* {
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
color: white;
text-align: center;
}

div{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: turquoise;
    margin: auto;
}