* {
    box-sizing: border-box;
}

body {
    background-color: black;


}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.ball {
    display: grid;
    align-content: center;
    justify-content: center;
    transition:  1s all ;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: turquoise;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

.round-object{
     display: grid;
    align-content: center;
    justify-content: center;
    transition:  1s all ;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}